Exercícios/uv.lock
Exercícios/pyproject.toml
Exercícios/.idea/modules.xml
Exercícios/.idea/misc.xml
Exercícios/.idea/inspectionProfiles/profiles_settings.xml
Exercícios/.idea/exercicios-py.iml
Mundo1/Exercícios/.idea/vcs.xml
Mundo1/Exercícios/.idea/misc.xml
Mundo1/Exercícios/.idea/mundo1.iml
Mundo1/Exercícios/.idea/modules.xml
Exercícios/Mundo1/.idea/workspace.xml
Mundo1/Exercícios/.idea/workspace.xml
Mundo1/Exercícios/.idea/inspectionProfiles/profiles_settings.xml
Mundo1/Exercícios/uv.lock
Mundo1/Exercícios/pyproject.toml
